<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project2</title>
</head>
<body>
  <a href="/devo/new">new devo</a>
  <h1>My peronal devotional and diary</h1>
  <ul>
    <li><a href="/devo">devotional</a></li>
    <li><a href="/diary">diary</a></li>
    <li><a href="/">main</a></li>
  </ul>
  <% for (i = 0; i < devo.length; i++) { %> 
  <div>
    <a href="/devo/<%=devo[i]._id%> "><li><%= devo[i].Date  %> </li></a>
  </div>
  <% } %> 
</body>
</html>