<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Project2</title>
</head>
<body>
  <header>
  <nav class="nav">
    <ul id="horizontal-list"  style="list-style: none;">
      <li><a href="/devo">Devotional</a></li>
      <li><a href="/diary">Diary</a></li>
    </ul>
  </nav>
  <h1>My Daily Devotional and Diary</h1>
</header>
</body>
</html>