<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/diary/new.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devotional</title>
</head>
<header>
  <nav class="nav">
    <ul id="horizontal-list"  style="list-style: none;">
      <li><a href="/">Main</a></li>
      <li><a href="/devo">Devotional</a></li>
      <li><a href="/diary">Diary</a></li>
      <li><a href="/devo/new">New Devo</a></li>
    </ul>
  </nav>
  <h1>My Daily Diary</h1>
</header>

  <form action="/diary" method="POST">
    Title: <input class="input-1" type="text" name="Title""/><br/>
    Name: <input class="input-1" type="text" name="Name""/><br/>
    Date: <input class="input-1" type="text" name="Date"/><br/>
    note: <input class="input-1" type="text" name="Note"/><br/>
    <input class="button-1" type="submit" value="Create New">
    <a href="/"><button id="button-1" class="button-1" >return to main</button></a>
  </form>
</body>
</html>