<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devotional</title>
</head>
<body>
  <h1>My peronal devotional and diary</h1>
  <ul>  
    <li><a href="/devo">devotional</a></li>
    <li><a href="/diary">diary</a></li>
    <li><a href="/">main</a></li>
  </ul>

  <form action="/diary" method="POST">
    Name: <input type="text" name="Name""/><br/>
    Date: <input type="text" name="Date"/><br/>
    note: <input type="text" name="Note"/><br/>
    <input type="submit" value="Create New">
  </form>

  <a href="/"><button>return to main</button></a>
</body>
</html>