
.nav {
  overflow: hidden;
  background-color: #e4ede0;

}
.nav li {
  font-family: 'Roboto Mono', monospace;
  display: inline;
  float: left;
  font-size: 20px;
}
.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: rgb(142, 170, 176);
  
}

body{
  background-color: #cde6ec;
}

h1{
  text-align: center;
  font-family:'Roboto Mono', monospace;
  margin: 50px;
}

.right{
  float: right;
}


.table{
  font-family: 'Roboto Mono', monospace;
}
.button-1 {
  display: flex;
  align-items: center;
  background-color: #141112;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

h3{
  font-family:'Roboto Mono', monospace;
  text-align: center;
}
h2{
  font-family:'Roboto Mono', monospace;
  text-align: center;
}

